*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', serif;
}

html, body, #__nuxt, #__layout {
  height: 100% !important;
  min-height: 100% !important;
  width: 100% !important;
}
